@import "../../../styles/settings.scss";

.panelBar {
  background: #000000;
  padding: 15px;
  justify-content: space-between;

  .title {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    color: #f8f5f5;
  }
}

.dots {

  position: relative;
  background: #000000;
  padding: 10px;
  justify-content: space-between;
  

  ul {
    margin: 0;
    list-style: none;
    background-color: #000000;
    transform: translateY(5px);

    li {
      display: inline-block;
      margin-left: 10px;

      a {
        font-size: 0;
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 10px;
        background-color: #ffffff;

        &.active,
        &:hover {
          background-color: #d58e32;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .component {
    display: none;
  }

  .panelBar {
    display: none;
  }

  .dots {
    display: none;
  }
}
