@import "../../../styles/settings.scss";

.root {
  color: $text-color-light;

  .leftBanner {
    margin-bottom: 60px;
    width: 540px;
    height: 430px;
    text-align: left;
    overflow: hidden;
    align-items: flex-end;

    &::before {
      content: "";
      position: absolute;
      bottom: -130px;
      margin-left: 20px;
      width: 500px;
      border-bottom: 390px solid rgba(0,0,0,0.5);
    }

    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }

    h1 {
      font-size: 60px;
      margin-left: 23px;
      padding-top: 240px;
      position: absolute;
    }

    h2 {
      position: absolute;
      font-size: 30px;
      margin-left: 23px;
      padding-top: 200px;
      margin-bottom: 0;
    }

    p {
      top: 103vh;
      position: absolute;
      font-size: 25px;
      margin-left: 25px;
      padding: 10px;
      border: 3px solid $white;
      width: 100px;
      text-align: center;
    }

  }

  .rightTopBanner {
    color: $text-color;
    width: 540px;
    height: 200px;
    margin-left: 570px;
    margin-bottom: 30px;
    margin-top: -490px;
    text-align: center;

    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }

    h1 {
      font-size: 15px;
      margin-right: 110px;
      margin-bottom: 0;
    }

    h2 {
      font-size: 30px;
      margin-left: -5px;
      padding-top: 50px;
      margin-bottom: 0;
    }

    p {
      color: $orange;
      margin-right: 80px;
      font-size: 30px;
      text-align: center;
    }

  }

  .rightBottomBanner {
    width: 540px;
    height: 200px;
    margin-left: 570px;
    margin-bottom: 60px;
    margin-top: 30px;
    text-align: right;

    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }

    h1 {
      color: $text-color;
      margin-right: 25px;
      font-size: 22px;
    }

    h2 {
      color: $orange;
      font-size: 35px;
      padding-top: 60px;
      margin-bottom: 0;
      margin-right: 25px;
    }

  }
}
