@import "../../../styles/settings.scss";

.root {
  color: $text-color-light;

  .leftBanner {
    margin-bottom: 60px;
    width: 540px;
    height: 430px;
    text-align: left;
    overflow: hidden;
    align-items: flex-end;

    &::before {
      content: "";
      position: absolute;
      bottom: -135px;
      margin-left: 15px;
      width: 510px;
      border: 200px solid rgba(0,0,0,0.5);
    }

    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }

    h1 {
      font-size: 60px;
      margin-left: 23px;
      padding-top: 240px;
      position: absolute;
    }

    h2 {
      position: absolute;
      font-size: 30px;
      margin-left: 23px;
      padding-top: 200px;
      margin-bottom: 0;
    }

    p {
      top: 103vh;
      position: absolute;
      font-size: 25px;
      margin-left: 25px;
      padding: 10px;
      border: 3px solid $white;
      width: 100px;
      text-align: center;
    }

  }

  .rightTopBanner {
    color: $text-color;
    width: 540px;
    height: 200px;
    margin-left: 570px;
    margin-bottom: 30px;
    margin-top: -490px;
    text-align: center;

    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }

    h1 {
      font-size: 15px;
      margin-right: 110px;
      margin-bottom: 0;
    }

    h2 {
      font-size: 30px;
      margin-left: -5px;
      padding-top: 50px;
      margin-bottom: 0;
    }

    p {
      color: $orange;
      margin-right: 80px;
      font-size: 30px;
      text-align: center;
    }

  }

  .rightBottomBanner {
    width: 540px;
    height: 200px;
    margin-left: 570px;
    margin-bottom: 60px;
    margin-top: 30px;
    text-align: right;

    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }

    h1 {
      color: $text-color;
      margin-right: 25px;
      font-size: 22px;
    }

    h2 {
      color: $orange;
      font-size: 35px;
      padding-top: 60px;
      margin-bottom: 0;
      margin-right: 25px;
    }

  }
}

@media (max-width: 320px) {
  .root {

    .leftBanner {
      margin-bottom: 20px;
      max-width: 300px;
      height: 330px;

      &::before {
        top: 118%;
        border: 135px solid rgba(0, 0, 0, 0.5);
        height: 310px;
        max-width: 270px;
      }


      h1 {
        padding-top: 170px;
      }

      h2 {
        padding-top: 140px;
      }

      p {
        top: 1360px;
      }

    }

    .rightTopBanner {
      width: 300px;
      height: 200px;
      margin: 0;
      margin-bottom: 20px;


      h1 {
        font-size: 15px;
      }

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 30px;
      }

    }

    .rightBottomBanner {
      width: 300px;
      height: 200px;
      margin: 0;
      margin-bottom: 20px;


      h1 {
        font-size: 17px;
      }

      h2 {
        font-size: 25px;
      }

    }
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .root {

    .leftBanner {
      margin-bottom: 20px;
      max-width: 350px;
      height: 330px;

      &::before {
        top: 118%;
        border: 135px solid rgba(0, 0, 0, 0.5);
        height: 305px;
        max-width: 320px;
      }


      h1 {
        padding-top: 170px;
      }

      h2 {
        padding-top: 140px;
      }

      p {
        top: 1360px;
      }

    }

    .rightTopBanner {
      width: 350px;
      height: 200px;
      margin: 0;
      margin-bottom: 20px;


      h1 {
        font-size: 15px;
      }

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 30px;
      }

    }

    .rightBottomBanner {
      width: 350px;
      height: 200px;
      margin: 0;
      margin-bottom: 20px;


      h1 {
        font-size: 20px;
      }

      h2 {
        font-size: 30px;
      }

    }
  }
}

@media (min-width: 376px) and (max-width: 450px) {
  .root {

    .leftBanner {
      margin-bottom: 20px;
      max-width: 400px;
      height: 330px;

      &::before {
        top: 116%;
        border: 150px solid rgba(0, 0, 0, 0.5);
        height: 300px;
        max-width: 370px;
      }


      h1 {
        padding-top: 170px;
      }

      h2 {
        padding-top: 140px;
      }

      p {
        top: 1330px;
      }

    }

    .rightTopBanner {
      width: 400px;
      height: 200px;
      margin: 0;
      margin-bottom: 20px;


      h1 {
        font-size: 15px;
      }

      h2 {
        font-size: 35px;
        margin-left: 27px;
      }

      p {
        font-size: 30px;
      }

    }

    .rightBottomBanner {
      width: 400px;
      height: 200px;
      margin: 0;
      margin-bottom: 20px;


      h1 {
        font-size: 20px;
      }

      h2 {
        font-size: 30px;
      }

    }
  }
}
