@import "../../../styles/settings.scss";


.component {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  display: flex;
  text-align: center;

  a {
    color: #f8f2f2;
  }

  a {
    padding: 13px 0;
    background: #000000;
      &:hover {
        background: #c77a32;
      }
  }
}

