$base-padding: 24px;

//COLORS
$darkGray1: #292929;
$darkGray2: #2a2a2a;
$gray1: #363636;
$gray2: #434343;
$lightGray: #b6b6b6;
$orange: #d58e32;
$light: #e2e2e2;
$light1: #e1e1e1;
$light2: #f4f5f7;
$white: #ffffff;

//main color settings
$header-topbar-bg: $gray2;
$header-bg: $gray1;

$footer-claim-bg: $darkGray2;
$footer-bg: $gray1;

$primary: $orange;

$text-color: $darkGray2;
$text-color-light: $white;

$form-border-color: $darkGray1;

$button-bg: $darkGray2;
$button-text: $white;

$featureBox-border: $lightGray;
$featureBox-bg: $white;

$productBox-bg: $white;
$productBox-border: $light1;
$photo-bg: $light2;
$line: $darkGray2;
$productBox-sale-bg: $darkGray1;

$newFurniture-line: $light;
$newFurniture-menuLink: $darkGray2;
$newFurniture-dots-bg:$white;
$newFurniture-dots-color: $light1;
