@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;


  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;


    .mainCategoryList {
      position: relative;
      z-index: 1;
      margin: 0;
      height: 100%;
      width:100%;

      .mainCategory {
        display: block;
        border: none;
        margin: 0 60px;
        left:-20%;
        background-color: transparent;
        top: 25%;
      }

      .secCategory a {
        margin: 0 55px;
      }


      li {
        display:none;
        position: relative;
        padding-left: 25px;
        background-color: white ;
        width: 119.5%;
        height: 100%;
        border: 1px solid $form-border-color;
      }
    }

    .mainCategoryList:hover {
      .secCategory {
        display: block;
        left:-19%;
      }
    }

    @media (max-width: 768px) {
      display: none;
   }  

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 5px;
      z-index: 0;
    }

    select {
      --accentFg: #d58e32;
      font-size: 14px;
      color: #2a2a2a;
      -webkit-appearance: none;
      appearance: none;
      border: none;
      outline: 0;
      padding: 11px 25px 11px 35px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
      background-position: right 20px center, right bottom, right bottom, right bottom;
    }

    select:hover {
      background-image: linear-gradient(var(--accentFg), var(--accentFg)),
        linear-gradient(0deg, transparent 50%, var(--accentFg) 50%),
        linear-gradient(0deg, transparent 50%, var(--accentFg) 50%),
        linear-gradient(var(--accentFg) 50%, var(--accentFg) 50%);
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
